#experiences .experience { margin-bottom: 20px; }
#experiences .experience p > strong { display: block; padding-top: 8px; margin-bottom: 10px; }
#experiences .experience .experience-details { display: block; margin-top: 6px; }
#experiences .experience .experience-details * { color: #22A39F; }
#experiences .experience .experience-details .seperator { color: #BCBCBC; }


.background-white { background: #FFFFFF; }
.background-gray { background: #434242; }
.main_container{ padding: 25px, 50px }
.container_custom { max-width: 1280px; padding: 20px 20px; }


#countries {
    width
}
